/* Couleur par défaut */
:root, main[data-theme='dark'] {
    --main-bg-color: black;
    --main-bg-color-2: rgba(30, 30, 30);;
    --main-font-color: white;
    --info-pratique: rgb(160, 160, 160);
    --info-pratique-titre: rgb(160, 160, 160);
}

main[data-theme='light'] {
    --main-bg-color: rgb(222, 218, 213);
    --main-bg-color-2: rgba(30, 30, 30, 0.31);;
    --main-font-color: black;
    --info-pratique: rgb(207, 204, 204);
    --info-pratique-titre: rgb(62, 62, 62);
}

header {
    position: relative;
    min-width: 90vw;
}
nav {
    position: absolute;
    width:  90vw;
}
.header {
    background: rgba(0, 0, 0, 0.4) url(../img/resto.jpg) no-repeat 50% 65% ;
    background-blend-mode: darken;
    background-size: 100% auto;
}

.header {
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}
.header p:first-of-type {
    font-size: 20px;
    color: white;
}
.header p:nth-child(3) {
    font-size: 40px;
    color: white;
}

.section-carte {
    min-height: 750px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.section-carte img {
    height: 466px;
    width: 466px;
}
.section-carte .titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section-carte p {
    font-size: 40px;
    font-weight: bold;
}

.section-commande {
    position: relative;
    min-height: 273px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/resto.jpg");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}
.section-commande p:first-of-type {
    font-size: 25px;
    font-weight: bold;
    z-index: 1;
    color: white;
}
.section-commande p:nth-child(3) {
    font-size: 24px;
    z-index: 1;
    color: white;
}

.section-infos {
    background-color: var(--main-bg-color);
    min-height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.infos-pratiques {
    background-color: rgba(30, 30, 30, 0.31);
    width: 560px;
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px
}
.infos-pratiques .titre, .horaires .titre {
    font-size: 35px;
}
.infos-pratiques span, .horaires span {
    display: block;
    width: 110px;
    height: 10px;
    border-top: 1px solid rgb(226, 175, 30);
}
.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 14px;
}
.infos p:first-of-type {
    font-size: 25px;
    color: rgb(62, 62, 62);
}
.infos p:nth-child(2) {
    font-size: 20px;
    max-width: 470px;
}
.horaires {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(226, 175, 30);
    border-right: 1px solid rgb(226, 175, 30);
    border-bottom: 1px solid rgb(226, 175, 30);
    padding: 30px;
}
.details-horaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    align-items: left;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* @media responsive */

@media (max-width: 400px) {

    .header {
        background: rgba(0, 0, 0, 0.4) url(../img/resto.jpg) no-repeat;
        background-blend-mode: darken;
        background-size: 100% auto;
        padding-bottom: 0px;
        min-height: 56vh;
    }

    .section-carte img {
        width: 280px;
        height: auto;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .header p:first-of-type {
        font-size: 10px;
    }
    .header p:nth-child(3) {
        font-size: 20px;
    }
    .bouton span {
        font-size: 17px;
    }
}