/* Couleur par défaut */
:root, main[data-theme='dark'] {
    --main-bg-color: black;
    --nav-bg-color: black;
    --main-font-color: white;
    --main-input-color: rgb(57, 57, 57);
    --main-input-placeholder-color: rgb(155, 153, 153);
}

main[data-theme='light'] {
    --main-bg-color: rgb(222, 218, 213);
    --nav-bg-color: white;
    --main-font-color: black;
    --main-input-color: rgb(185, 185, 185);
    --main-input-placeholder-color: rgb(65, 65, 65);
}

body {
    background-color: var(--main-bg-color);
}

nav {
    background-color: var(--nav-bg-color);
}

.input-produit {
    background-color: var(--main-input-color);
    padding: 20px;
    width: 900px;
    height: 44px;
    border-radius: 5px;
    font-size: 15px;
}
.input-prix {
    background-color: var(--main-input-color);
    padding: 20px;
    width: 110px;
    height: 44px;
    border-radius: 5px;
    font-size: 15px;
}
.input-produit::placeholder {
    color:var(--main-input-placeholder-color)
}
.input-horaire {
    background-color: var(--main-input-color);
    padding: 20px;
    width: 600px;
    height: 44px;
    border-radius: 5px;
    font-size: 15px;
}
.input-table {
    background-color: var(--main-input-color);
    padding: 20px;
    width: 200px;
    height: 44px;
    border-radius: 5px;
    font-size: 15px;
}
.content p {
    font-size: 25px;
}
.btn-ajouter {
    color: black;
    cursor: pointer;
    width: 150px;
}
.btn-supprimer {
    color: black;
    cursor: pointer;
    width: 150px;
}

.header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}
.header p {
    font-size: 40px;
    font-weight: bold;
}
.section-carte {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 100px 0px;
}
.carte-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 36px;
}
.content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-font-color);
    gap: 20px;
    padding: 15px;
}
.produit {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    gap: 50px;
}
.carte-section-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.carte-section-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.titre {
    font-size: 35px;
    font-weight: bold;
}
.sous-titre {
    font-size: 30px;
    font-weight: bold;
}
.titre-2 {
    font-size: 30px;
    font-weight: bold;
    color:rgb(226, 175, 30);
    padding-left: 50px;
}
span {
    width: 1px;
    height: 100px;
    background-color: rgb(226, 175, 30);
  }
.wrap {
    gap: 10px;
}
.pagination {
    padding-top: 50px;
    background-color: var(--main-bg-color);
}
.horaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0px;
}
.details-horaires {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}
.horaire {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    gap: 50px;
}
.content-horaire {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.modifier-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    align-items: center;
}
.table {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.text {
    font-size: 30px;
}

.alert-table {
    position: absolute;
    top: 226px;
    left: 61px;
    color: rgb(226, 175, 30);
}