/* Couleur par défaut */
:root, main[data-theme='dark'] {
    --main-bg-color: black;
    --main-font-color: white;
    --main-input-color: rgb(57, 57, 57);
}

main[data-theme='light'] {
    --main-bg-color: rgb(222, 218, 213);
    --main-font-color: black;
    --main-input-color: rgb(185, 185, 185);
}

header {
    position: relative;
    min-width: 90vw;
}
nav {
    position: absolute;
    width:  90vw;
}
.header {
    background: rgba(0, 0, 0, 0.4) url(../img/carte.jpg) no-repeat 50% 65% ;
    background-blend-mode: darken;
    background-size: 100% auto;
}

.header {
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p {
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.section-carte {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 100px 0px;
}
.carte-content {
    max-width: max(1300px, calc(100% - 80px));
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 36px;
    margin: 50px 0px;
}
.content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-font-color);
    gap: 20px;
    padding: 15px;
}
.produit {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 50px;
}
.produit p:first-of-type {
    max-width: max(1000px, calc(100% - 80px));
}
.content p {
    max-width: 1000px;
    font-size: 25px;
}
.carte-section-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.carte-section-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 25px;
}
.titre {
    font-size: 35px;
    font-weight: bold;
}
.sous-titre {
    font-size: 30px;
    font-weight: bold;
}
.titre-2 {
    font-size: 30px;
    font-weight: bold;
    color:rgb(226, 175, 30);
    padding-left: 50px;
}
.input-qtt {
    background-color: var(--main-input-color);
    width: 70px;
    height: 28px;
    padding-left: 10px ;
    border-radius: 5px;
    font-size: 20px;
}
.wrap {
    gap: 50px;
}

@media (max-width: 1200px) {
    nav .nav-btn {
        right: 30px;
    }
    .content p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .header {
        background: rgba(0, 0, 0, 0.4) url(../img/carte.jpg) no-repeat 100%;
        background-blend-mode: darken;
        background-size: auto;
        min-height: 202px;
        padding-top: 50px;
    }
    .header p {
        font-size: 20px;
    }
    .content p {
        font-size: 15px;
    }
}