/* Couleur par défaut */
:root, main[data-theme='dark'] {
    --main-bg-color: black;
    --main-font-color: white;
    --main-input-color: rgb(57, 57, 57);
}

main[data-theme='light'] {
    --main-bg-color: rgb(222, 218, 213);
    --main-font-color: black;
    --main-input-color: rgb(185, 185, 185);
}

main, nav, header {
    background-color: var(--main-bg-color);
}

.titre {
    font-size: 35px;
    font-weight: bold;
}
.header-link {
    padding-top: 50px;
    padding-bottom: 50px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    gap: 150px;
}
.login {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.register {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.sous-titre {
    font-size: 30px;
    font-weight: bold;
}
.input-login {
    background-color: var(--main-input-color);
    padding: 20px;
    width: 640px;
    border-radius: 5px;
    font-size: 25px;
}
.text {
    width: 700px;
    font-size: 27px;
}
.btn-register {
    width: fit-content;
}
.btn-register span {
    font-size: 30px;
    font-weight: normal;
}
.btn-login {
    color: black;
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
}

.alert-champs {
    position: absolute;
    color: rgb(226, 175, 30);
    top: 40px;
    left: 9px;
}
.alert-email{
    position: absolute;
    color: rgb(226, 175, 30);
    top: 145px;
    left: 9px;
}
.alert-password {
    position: absolute;
    color: rgb(226, 175, 30);
    top: 252px;
    left: 9px;
}


  /* @media responsive */

@media (max-width: 1200px) {
    nav .nav-btn {
        right: 30px;
    }
    .input-login {
        width: 440px;
    }
    .text {
        max-width: 500px;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .input-login {
        width: 300px;
    }
    .text {
        max-width: 100%;
        font-size: 22px;
        align-items: center;
        justify-content: center;
    }
    .titre {
        font-size: 30px;
    }
    .link a,
    .link:nth-child(2) {
        font-size: 23px;
    }
    .sous-titre {
        font-size: 25px;
    }
    .register {
        gap: 27px;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 10px;
    }
    .alert-2 {
        font-size: 18px;
    }
}