body {
    background-color: black;
}

.header-link {
    padding-top: 50px;
}
.titre {
    font-size: 35px;
    font-weight: bold;
}

.panier-vide {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.panier-vide a {
    font-size: 30px;
    text-decoration: underline;
}