/* Couleur par défaut */
:root, main[data-theme='dark'] {
    --main-bg-color: black;
    --main-font-color: white;
    --main-input-color: rgb(57, 57, 57);
}

main[data-theme='light'] {
    --main-bg-color: rgb(222, 218, 213);
    --main-font-color: black;
    --main-input-color: rgb(185, 185, 185);
}

main, nav, header {
    background-color: var(--main-bg-color);
}

.header-link {
    padding-top: 50px;
    padding-bottom: 100px;
}
.titre {
    font-size: 35px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: fit-content;
    margin-left: 100px;
    padding-bottom: 50px;
}
.ligne {
    width: 1px;
    background: var(--main-font-color);
    min-height: 100px;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s;
}
.menu a {
    color: var(--main-font-color);
}
.menu a:hover {
    color : rgb(226, 175, 30);
}
.page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
    min-width: 800px;
}
.sous-titre {
    font-size: 30px;
    font-weight: bold;
}
.adresses {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.adresse {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.text {
    display: flex;
    align-items: center;
    font-size: 28px;
    max-width: 400px;
}
.bouton {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: fit-content;
}
.input-adresse {
    background-color: var(--main-input-color);
    padding: 20px;
    width: 640px;
    border-radius: 10px;
    font-size: 25px;
}
.ajouterAdresse {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-ajouter {
    color: black;
    font-weight: bold;
    font-size: 24px;
    width: 400px;
}
.wrap-ajouter {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.checkboxDefaut {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-size: 25px;
}
.checkboxDefaut input {
    width: 30px;
    height: 30px;
}

.reservation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reservation-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: fit-content;
}
.reservation-content div {
    width: 200px;
}
.btn-annuler {
    padding: 5px;
    width: 100px;
    color: black;
    font-weight: bold;
}
.ligne2 {
    height: 1px;
    background: var(--main-font-color);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detailsContent {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: fit-content;
}
.detailsContent div {
    width: 300px;
}

.noCommande {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    gap: 10px;
    background-color: rgb(206, 229, 205);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.noCommande a, i {
    font-weight: bold;
    color: rgb(58, 135, 53)
}
.noCommande a {
    text-decoration: underline;
}
.noCommande div {
    color: rgb(58, 135, 53)
}

/* Messagerie */
.message-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.message-container.sent {
    align-self: flex-end;
    background-color: rgb(226, 175, 30);
    gap: 10px
}
.message-container.received {
    align-self: flex-start;
    background-color: #F1F0F0;
    gap: 10px
}
.message-container .sender {
    font-weight: bold;
}
.timestamp {
    font-size: 14px;
    color: #888;
}
.message-form {
    margin-top: 10px;
}
.message-form textarea {
    width: 100%;
    height: 100px;
    color: black;
    padding: 10px;
}
.message-list {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    gap: 10px
}
.message-container .message {
    color: black;
    max-width: 500px;
}
.send-btn {
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.message-form .form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid 1px rgb(226, 175, 30);
    padding: 10px;
    max-width: 400px;
    border-radius: 20px;
}
.message-details .message {
    font-size: 20px;
}
.alert-message {
    position: absolute;
    color:rgb(226, 175, 30);
    top: -27px;
}
.form-resa {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  /* @media responsive */

  @media (max-width: 1204px) {
    nav .nav-btn {
        right: 30px;
    }

    .sous-titre {
        font-size: 25px;
    }
    .content {
        margin-left: 50px;
    }
    .page {
        min-width: 450px;
        margin-left: 10px;
    }
    .detailsContent div {
        width: 150px;
    }

    /* Adresses */ 
    .bouton span {
        font-size: 15px;
    }

    /* Modifier adresse */
    .input-adresse {
        width: 400px;
    }
    .wrap-ajouter {
        flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    /* Compte */
    .titre {
        font-size: 25px;
    }
    .link a, .link:nth-child(2) {
        font-size: 22px;
    }
    .sous-titre {
        font-size: 16px;
    }
    .content {
        margin-left: 25px;
    }
    .page {
        min-width: 250px;
        margin-left: 5px;
    }
    .detailsContent div {
        width: 70px;
        font-size: 14;
    }
    .reservation-content div {
        width: 120px;
    }
    .header-link {
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .ligne {
        display: none;
    }
    .menu a {
        font-size: 20px;
    }

    /* Adresses */
    .text {
        font-size: 25px;
    }

    /* Modifier adresse */
    .input-adresse {
        width: 300px;
        font-size: 22px;
    }
    .btn-ajouter {
        width: 200px;
        justify-content: center;
        text-align: center;
    }
  }