/* Couleur par défaut */
:root,
main[data-theme='dark'] {
    --main-bg-color: black;
    --main-font-color: rgb(255, 255, 255);
    --main-input-color: rgb(57, 57, 57);
    --main-input-placeholder-color: rgb(142, 141, 141);
}

main[data-theme='light'] {
    --main-bg-color: rgb(222, 218, 213);
    --main-font-color: black;
    --main-input-color: rgb(208, 208, 208);
    --main-input-placeholder-color: rgb(192, 190, 190);
}

main {
    background-color: var(--main-bg-color);
}

header,
nav {
    background-color: black;
}

.reservation {
    padding: 70px 0px;
    gap: 80px;
}

.titre {
    font-size: 35px;
    font-weight: bold;
}

.choix-1 {
    gap: 24px;
}

.choix-2 {
    gap: 100px
}

form {
    position: relative;
    gap: 54px;
}

.alert {
    position: absolute;
    color: rgb(226, 175, 30)
}

.alert-1 {
    position: absolute;
    bottom: 112px;
    color: rgb(226, 175, 30)
}

.alert-2 {
    color: rgb(226, 175, 30);
    font-size: 25px;
    padding: 10px;
}

.input-infos-date {
    background-color: rgb(57, 57, 57);
    color: white;
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
    font-size: 25px;
}

.input-infos-date option {
    color: white;
}

.fa-regular {
    padding-left: 100px;
    color: var(--main-bg-color)
}

.input-1 {
    gap: 24px;
}

.champs {
    display: flex;
    flex-direction: wrap;
    width: 750px;
    justify-content: space-between;
}

.civilite-section {
    display: flex;
    flex-direction: column;
    width: 750px;
    gap: 10px;
}

.civilite-section:first-child {
    font-size: 18px;
}

.civilite {
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    justify-content: space-between;
    font-size: 15px;
}

.input-infos {
    background-color: rgb(57, 57, 57);
    padding: 10px;
    width: 360px;
    border-radius: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.input-infos::placeholder {
    color: var(--main-input-placeholder-color);
}

.bouton {
    font-weight: normal;
}

.bouton-modif {
    font-weight: normal;
    padding-left: 95px;
    padding-right: 95px;
}

img {
    width: 344px;
    height: 36px;
}

/* @media responsive */

@media (max-width: 1200px) {
    nav .nav-btn {
        right: 30px;
    }

    .input-infos-date {
        padding: 20px;
        font-size: 20px;
    }

    .champs {
        max-width: 400px;
    }

    .civilite-section {
        max-width: 400px;
    }

    .input-infos {
        width: 200px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .titre {
        font-size: 30px;
    }

    .champs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .civilite-section {

        justify-content: center;
        align-items: center;
    }

    .input-infos-date {
        width: 350px;
        font-size: 14px;
        padding: 10px;
    }

    .link a,
    .link:nth-child(2) {
        font-size: 23px;
    }

    .input-1 {
        gap: 7px;
    }

    .alert-2 {
        font-size: 18px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}