/* Couleur par défaut */
:root,
html[data-theme='dark'] {
    --main-bg-color: black;
    --main-bg-color-2: rgba(30, 30, 30);
    ;
    --main-font-color: white;
    --info-pratique: rgb(160, 160, 160);
}

html[data-theme='light'] {
    --main-bg-color: rgb(176, 176, 176);
    --main-bg-color-2: rgba(30, 30, 30, 0.31);
    ;
    --main-font-color: black;
    --info-pratique: rgb(94, 94, 94);
}

/* Réinitialise les marges, paddings + police de la page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--main-font-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Navbar Footer */
nav {
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav,
footer,
a {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

nav .logo-container {
    display: flex;
    align-items: center;
}

nav .link-container {
    display: flex;
    align-items: center;
    gap: 71px;
}

nav .link-container a {
    position: relative;
}

nav .link-container a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

nav .link-container a:hover:after {
    transform: scaleX(1);
}

nav .icon-container {
    display: flex;
    align-items: center;
    gap: 38px;
}

.icone {
    height: 40px;
    width: 40px;
}

.logo {
    height: 120px;
    width: 120px;
}

nav .nav-btn,
nav #nav-check {
    display: none;
}

footer {
    height: 270px;
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    flex-shrink: 0;
}

.bouton {
    padding: 1rem 2rem;
    background-color: rgb(226, 175, 30);
    transition: 0.3s;
    z-index: 1;
    cursor: pointer;
}

.bouton span {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.bouton:hover {
    box-shadow: 0 0 0 .2rem rgb(226, 175, 30);
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    gap: 20px;
}

.link a,
.link:nth-child(2) {
    font-size: 30px;
    color: var(--main-font-color);
}

.link:nth-child(1) {
    font-size: 35px;
    color: var(--main-font-color);
}

.header-link {
    gap: 10px;
}

.input-theme {
    background-color: rgb(57, 57, 57);
    padding: 20px;
    width: 360px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
}

.input-theme option {
    color: white;
}

.input-btn {
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
}

.no-acces {
    min-height: 58vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alert-green {
    position: fixed;
    top: 137px;
    left: 81px;
    background-color: #77b577;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    opacity: 0;
    transition: 1s;
}

.alert-red {
    position: fixed;
    top: 137px;
    left: 81px;
    background-color: #cc2525;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    opacity: 0;
    transition: 1s;
}

/* switch dark light */

.switch {
    --dark: #404045;
    --light: #EEEEEE;
    position: relative;
    display: inline-block;
    border-radius: 1rem;
    cursor: pointer;
    width: 60px;
    height: 30px;
    overflow: hidden;
}

.checkbox {
    opacity: 0
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    transition: .4s;
}

.slider::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 40%;
    height: 80%;
    border-radius: 100%;
    transform: translateY(-50%);
    border: 4px solid var(--dark);
    background-color: var(--light);
    transition: .4s;
}

.slider::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    transform: translate(40%, -20%);
    background-color: var(--dark);
    transition: .4s;
}

.checkbox:checked+.slider {
    background-color: var(--light);
}

.checkbox:checked+.slider::before {
    border: 4px solid var(--light);
    background-color: var(--dark);
    transform: translate(90%, -50%);
}

.checkbox:checked+.slider::after {
    width: 0;
    height: 0;
    background-color: var(--light);
}

/* Responsivité de la nav bar et du footer (test)*/

@media (max-width: 1200px) {

    nav .icon-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        top: 127px;
        left: 340px;
        gap: 19px;
        right: 20%;
    }
    nav .link-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: fit-content;
        overflow: hidden;
        top: 120px;
        left: 10px;
        gap: 28px;
        padding: 10px 0px;
        font-size: 20px;
    }
    nav .link-container a {
        width: 100%;
        overflow: hidden;
    }
    nav .logo-container a {
        width: 40%;
        overflow: hidden;
    }
    nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 25px;
    }

    nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 27px;
    }
    nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    nav #nav-check:checked~.link-container {
        height: 120px;
        background-color: #808080de;
        width: 400px;
        padding-left: 20px;
        height: fit-content;
        overflow-y: auto;
        transition: 1s;
    }
    nav #nav-check:checked~.icon-container {
        height: fit-content;
        width: fit-content;
        overflow-y: auto;
        transition: 1s;
    }
    nav #nav-check:not(:checked)~.icon-container {
        height: 0px;
    }
    nav #nav-check:not(:checked)~.link-container {
        height: 0px;
    }

    .icone {
        width: 40px;
        height: 40px;
    }
    .switch {
        right: 10%
    }

    footer {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 90px;
        height: 90px;
    }
    nav .nav-btn {
        top: 8px;
    }
    nav .link-container {
        top: 64px;
    }
    nav .link-container a {
        font-size: 15px;
    }
    nav .icon-container {
        top: 76px;
        left: 288px;
        right: 150px;
    }
    nav .logo-container a {
        width: 40%;
    }

    nav #nav-check:checked~.link-container {
        height: 164px;
        width: 330px;
        padding-left: 20px;
    }
    
    .icone {
        width: 38px;
        height: 38px;
    }
    .switch {
        right: 65px
    }
    
    nav,
    footer,
    a {
        top: 20px;
    }
    
    footer {
        font-size: 14px;
        height: 180px;
    }
}

@media (max-width: 576px) {
    nav .link-container {
        top: 64px;
    }
    nav .link-container a {
        font-size: 15px;
    }
    nav .icon-container {
        top: 76px;
        left: 288px;
    }
    nav .logo-container a {
        width: 40%;
    }

    nav #nav-check:checked~.link-container {
        height: 164px;
        background-color: #80808094;
        width: 330px;
        padding-left: 20px;
    }
    
    .switch {
        right: 65px
    }
    .icone {
        width: 38px;
        height: 38px;
    }

    footer {
        font-size: 10px;
    }

    .input-theme {
        background-color: rgb(57, 57, 57);
        padding: 20px;
        width: 300px;
        border-radius: 5px;
        font-size: 20px;
    }

}